http://www.dati.gov.it/api/3/action/package_show?id= +ds_name

http://www.dati.gov.it/api/3/action/package_show?id=circoscrizioni

In [7]:
import pandas as pd
import numpy as np
import matplotlib as mlt

In [3]:
df = pd.read_csv('2017-10-14_DSMetadatiPA.csv', delimiter=';')

In [8]:
df.count()

Unnamed: 0              18284
ds_title                 2247
_catalog_parent_name     2247
gruppo                   2247
note                     2247
ultima_modifica          2247
ds_name                 18284
ds_id                    2247
ds_license               2247
url                      2227
mymtype                  2039
dtype: int64

In [5]:
df.head(2)

,Unnamed: 0,ds_title,_catalog_parent_name,gruppo,note,ultima_modifica,ds_name,ds_id,ds_license,url,mymtype
0,0,NaN,NaN,NaN,NaN,NaN,circoscrizioni,NaN,NaN,NaN,NaN
1,1,Elezioni Amministrative 2014 - Eletti,Comune di Bari,Popolazione e società,<p>Gli eletti delle Amministrative e Municipi...,"""16.06.2014""",elezioni-amministrative-2014-eletti,ebad7b1c-ca8c-4dda-ac1f-a9f550e8fac6,CC0 1.0,NaN,NaN

In [24]:
type(df['ds_title'][1])

str

## Metadati Assenti

1. Potrebbe avere NAN anche solo se un'operazione nel blocco try va in errore.. da capire quale, forse meglio mettere tanti try e catch per ogni campo

In [27]:
df[pd.isnull(df['ds_title'])].count()

Unnamed: 0              16037
ds_title                    0
_catalog_parent_name        0
gruppo                      0
note                        0
ultima_modifica             0
ds_name                 16037
ds_id                       0
ds_license                  0
url                         0
mymtype                     0
dtype: int64

In [31]:
df[pd.isnull(df['ds_title'])].head(5)

,Unnamed: 0,ds_title,_catalog_parent_name,gruppo,note,ultima_modifica,ds_name,ds_id,ds_license,url,mymtype
0,0,NaN,NaN,NaN,NaN,NaN,circoscrizioni,NaN,NaN,NaN,NaN
7,7,NaN,NaN,NaN,NaN,NaN,organico-comune-bari,NaN,NaN,NaN,NaN
9,9,NaN,NaN,NaN,NaN,NaN,aree-verdi,NaN,NaN,NaN,NaN
12,12,NaN,NaN,NaN,NaN,NaN,anticorruzione-2013,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,monumenti,NaN,NaN,NaN,NaN

Test a campione:

1. circoscrizioni, aree-verdi, monumenti -> Non ha metadati è ok
2. organico-comune-bari, anticorruzione-2013
    - ha metadati
    - Ultima Modifica non è l'ultimo valore. Usa il campo: metadata_modified del dataset
    - gruppo non c'è, metti try e catch
    - Resource, prendi direttamente l'ultimo, implementa una funzione che va per priorità.. se c'è rdf  prende rdf, altrimenti csv, altrimenti xlsx, altrimenti xls, altrimenti l'ultimo