http://www.dati.gov.it/api/3/action/package_show?id= +ds_name

http://www.dati.gov.it/api/3/action/package_show?id=circoscrizioni

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt

/usr/local/lib/python2.7/dist-packages/pandas/core/computation/__init__.py:18: UserWarning: The installed version of numexpr 2.4 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [2]:
df = pd.read_csv('2017-10-17_DSMetadatiPA.csv', delimiter=';')

In [3]:
df.count()

Unnamed: 0              18165
ds_title                13123
_catalog_parent_name    13123
gruppo                   4517
note                    13123
ultima_modifica         13123
ds_name                 18165
ds_id                   13123
ds_license              13123
url                     13089
mymtype                 12643
dtype: int64

In [4]:
df.head(2)

,Unnamed: 0,ds_title,_catalog_parent_name,gruppo,note,ultima_modifica,ds_name,ds_id,ds_license,url,mymtype
0,0,NaN,NaN,NaN,NaN,NaN,circoscrizioni,NaN,NaN,NaN,NaN
1,1,Elezioni Amministrative 2014 - Eletti,Comune di Bari,Popolazione e società,<p>Gli eletti delle Amministrative e Municipi...,2014-12-17,elezioni-amministrative-2014-eletti,ebad7b1c-ca8c-4dda-ac1f-a9f550e8fac6,CC0 1.0,NaN,NaN

In [24]:
type(df['ds_title'][1])

str

## Metadati Assenti

1. Potrebbe avere NAN anche solo se un'operazione nel blocco try va in errore.. da capire quale, forse meglio mettere tanti try e catch per ogni campo

In [5]:
df[pd.isnull(df['ds_title'])].count()

Unnamed: 0              5042
ds_title                   0
_catalog_parent_name       0
gruppo                     0
note                       0
ultima_modifica            0
ds_name                 5042
ds_id                      0
ds_license                 0
url                        0
mymtype                    0
dtype: int64

In [8]:
df_test = df[pd.isnull(df['ds_title'])].head(15)
df_test

,Unnamed: 0,ds_title,_catalog_parent_name,gruppo,note,ultima_modifica,ds_name,ds_id,ds_license,url,mymtype
0,0,NaN,NaN,NaN,NaN,NaN,circoscrizioni,NaN,NaN,NaN,NaN
9,9,NaN,NaN,NaN,NaN,NaN,aree-verdi,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,monumenti,NaN,NaN,NaN,NaN
18,18,NaN,NaN,NaN,NaN,NaN,farmacie,NaN,NaN,NaN,NaN
25,25,NaN,NaN,NaN,NaN,NaN,ospedali,NaN,NaN,NaN,NaN
30,30,NaN,NaN,NaN,NaN,NaN,scuole,NaN,NaN,NaN,NaN
41,41,NaN,NaN,NaN,NaN,NaN,stradario,NaN,NaN,NaN,NaN
44,44,NaN,NaN,NaN,NaN,NaN,impianti-sportivi,NaN,NaN,NaN,NaN
55,55,NaN,NaN,NaN,NaN,NaN,lavori-corso-nellanno-2014,NaN,NaN,NaN,NaN
59,59,NaN,NaN,NaN,NaN,NaN,dia-anno-2009,NaN,NaN,NaN,NaN
60,60,NaN,NaN,NaN,NaN,NaN,luoghi-interesse-cittadino,NaN,NaN,NaN,NaN
61,61,NaN,NaN,NaN,NaN,NaN,contratti-anno-2006,NaN,NaN,NaN,NaN
62,62,NaN,NaN,NaN,NaN,NaN,contratti-anno-2012,NaN,NaN,NaN,NaN
63,63,NaN,NaN,NaN,NaN,NaN,diasciacil-anno-2012,NaN,NaN,NaN,NaN
64,64,NaN,NaN,NaN,NaN,NaN,permessi-costruire-1-semestre-2014,NaN,NaN,NaN,NaN

dia-anno-2009 -> non ha il campo **licensce** e **notes** metti try e catch